.movie-page--main {
  padding: 20px 40px;
}
.movie-page--container {
  display: none;
  flex-direction: column;
}
.movie-page--loading {
  height: 800px;
}
.movie-page--main section,
.movie-intro {
  border-radius: 5px;
}
.movie-page--container h2 {
  color: black;
  font-size: 19px;
  margin-bottom: 10px;
}
.movie-page--container a {
  text-decoration: none;
}
.movie-page--container h1 {
  font-size: 35px;
  margin-bottom: 5px;
}
.intro-producer h2,
.more-from-producer h2 {
  color: white;
  font-size: 30px;
}
.intro-producer p {
  color: white;
}
.movie-page--body {
  display: grid;
  grid-gap: 1.2em;
  grid-template-columns: 2.5fr 1fr;
  grid-template-rows: 2fr 1fr;
  grid-template-areas:
    "movie-intro more-from-producer"
    "intro-producer more-from-producer";
}
.movie-intro {
  grid-area: movie-intro;
  background: #1a1a1a;
  color: white;
  padding: 20px 30px;
}
.movie-intro p {
  margin-bottom: 10px;
}
.movie-intro section {
  display: flex;
}
.intro-producer--text {
  margin-right: 35px;
  flex: 1;
}
.intro-producer {
  grid-area: intro-producer;
  background: #1a1a1a;
  padding: 20px 30px;
  display: flex;
}
.intro-producer--img {
  margin-left: 0px;
  flex: 0.4;
  display: flex;
  justify-content: center;
}
.intro-producer--img .image {
  width: 180px;
  height: 180px;
}
.intro-producer--img .image img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 1px solid grey;
}
.more-from-producer {
  grid-area: more-from-producer;
  background: #1a1a1a;
  color: white;
  padding: 20px 30px;
}
.movie-page--image {
  margin: 10px 20px 0px 0px;
}
.movie-intro img {
  width: 100%;
  height: 100%;
  border-radius: 6px;
  border: 1px solid grey;
  object-fit: cover;
}
.movie-intro button {
  width: 160px;
  margin: 15px 15px 0px 0;
  background-color: #292828;
  border: 1px solid white;
  color: #fcad15;
}
.movie-intro .buttons {
  margin: 15px 0px 0px 0px;
}
.intro-info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.movie-intro .fa-star {
  color: #fcad15;
}
.movie-intro hr {
  margin: 25px 0;
}

@media only screen and (max-width: 1059px) {
  .movie-page--body {
    display: flex;
    flex-direction: column;
  }
  .more-from-producer {
    height: 150px;
  }
  .movie-intro .buttons {
    display: flex;
    flex-direction: column;
  }
  .movie-intro .cta-login {
    margin-top: 20px;
    height: 40px;
  }
  .movie-intro p {
    margin-bottom: 0px;
  }
  .intro-producer--img .image {
    width: 155px;
    height: 155px;
  }
}

@media only screen and (max-width: 750px) {
  .movie-intro section {
    flex-direction: column;
  }
  .movie-intro .image {
    margin: 10px 0 20px 0;
  }
  .movie-intro button {
    display: block;
  }
}
