/* HOME PAGE */
* {
  margin: 0px;
  padding: 0px;
}
label:hover {
  cursor: pointer;
}
body {
  background: url("../images/camera1.jpg");
  background-size: cover;
  min-height: 100vh;
}
.container {
  padding: 40px 40px;
  display: grid;
  grid-gap: 1.1em;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "main-home main-home aside"
    "content1 content2 content3";
}
header {
  display: flex;
  justify-content: space-between;
  background-color: #292828;
  height: 70px;
  padding: 10px 10px;
  align-items: center;
  grid-area: header;
}
.container h1,
.container h2 {
  letter-spacing: 0.5px;
  padding: 15px 5px;
  text-align: center;
}
.container h4{
  font-size: 23px;
  font-weight: normal;
}
h1 {
  font-family: "Poppins", sans-serif, Arial;
}
h2{
  font-family: "Cormorant Garamond", serif;
  font-size: 27px;
  font-weight: bold;
}
h3{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 20px;
}
p {
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
}
/* Main & Aside & Content */
.main-home, aside, .content3 {
  background: #1a1a1a;
  padding: 0em 2em;
  color: #fff;
  border-radius: 5px;
}
.main-home {
  grid-area: main-home;
}
.main-home--body{
  display: flex;
  flex-direction: column;
}
.intro1,
.intro2{
  margin-bottom: 50px;
}
.intro1 p {
  margin-bottom: 7px;
}
aside {
  grid-area: aside;
}
.top-producers img,
.forum img {
  height: 35vh;
  width: 100%;
}
.content1, .content2  {
  grid-area: content1;
  overflow: hidden;
  background: #1a1a1a;
  color: #fff;
  border-radius: 5px;
}
.forum div{
margin-bottom: 10px;  
}
.forum hr{
  margin: 10px 0;
}
/* slideshow */
.slide img {
  height: 35vh;
  width: 100%;
  object-fit: cover;
}
.slideshow {
  width: 700px;
}
.top-movies-nav {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 20px;
}
.top-movies input {
  display: none;
}
.top-movies {
  display: flex;
  width: 500%;
}
.slide {
width: 20%;
transition: 0.5s;
}
#r1:checked ~ .s1 {
  margin-left: 0;
}
#r2:checked ~ .s1 {
  margin-left: -25%;
}
#r3:checked ~ .s1 {
  margin-left: -40%;
}
#r4:checked ~ .s1 {
  margin-left: -65%;
}
.bar {
  width: 40px;
  height: 17px;
  background: #fcad15;
  border: 1px solid #fff;
  margin: 5px 8px;
  border-radius: 4em;
  transition: 0.3s;
}
.bar:hover {
  background: #600;
  border: 1px solid #fff;
}
.content2 {
  grid-area: content2;
}
.content3 {
  grid-area: content3;
}
/* LOGO */
.logo {
  display: flex;
  margin-left: 30px;
  margin-right: 20px;
}
.logo img {
  width: 150px;
  height: 60px;
  cursor: pointer;
}
/* NAVIGATION */
.hamitems {
  display: flex;
}
.hamitems li {
  list-style: none;
  margin: 5px;
}
.hamitems a {
  color: white;
  font-weight: bold;
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 24px;
  text-align: center;
  padding: 6px;
}
.hamitems a:hover {
  background: orange;
  border-radius: 2px;
}
#hamburger {
  display: none;
}
.fa-bars {
  display: none;
}
/* SEARCHBAR */
.search {
  display: flex;
  margin: 10px;
}
.search input {
  width: 240px;
  height: 26px;
  border-radius: 4px;
}
.searchnav {
  display: none;
  color: white;
  align-items: center;
}
/* CTA-BUTTONS */
.cta {
  display: flex;
  margin-right: 20px;
}
.cta-login,
.cta-signup {
  text-align: center;
  text-transform: uppercase;
  color: #600;
  font-weight: bold;
  font-size: 18px;
  background: #fcad15;
  width: 90px;
  height: 45px;
  margin: 10px;
  cursor: pointer;
  border-radius: 2px;
}
.cta-login:hover,
.cta-signup:hover {
  background: #600;
  color: #fcad15;
}
.cta-readmore {
  width: 110px;
  height: 40px;
  background: #fcad15;
  border: 1px solid #fcad15;
  border-radius: 2px;
  cursor: pointer;
}
.cta-readmore a {
  text-decoration: none;
  color: #600;
  font-weight: bold;
  font-size: 18px;
}


/* TABLET */
@media only screen and (max-width: 1059px) {
  .container {
    height: 100%;
    padding: 40px 40px;
    grid-template-columns: auto;
    grid-template-rows: 1fr 1.2fr 1.2fr 1.2fr;
    grid-template-areas:
      "main-home"
      "content1"
      "content2"
      "content3";
  }
  .main-home,
  .content1,
  .content2 {
    margin: 0;
  }
  aside {
    display: none;
  }
  /* Logo */
  .logo img {
    position: absolute;
    left: 45%;
    top: 15px;
    margin-left: -25px;
  }
  /* Hamburger-menu */
  .hamitems {
    position: relative;
    top: 150px;
    right: -10px;
  }
  .hamitems li {
    width: 180px;
    height: 70px;
    display: flex;
    padding: 0;
    margin: 0;
    border-bottom: 1px solid #fff;
    border-radius: 4px;
  }
  .hamitems a {
    background: #292828;
    width: 100%;
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .hamitems {
    display: none;
  }
  .hamnav input:checked ~ .hamitems {
    display: block;
  }
  .fa-bars {
    display: block;
    position: absolute;
    right: 40px;
    top: 35px;
    margin-right: 1px;
    color: white;
    font-size: 22px;
  }
  /* Searchbar */
  .search {
    display: none;
  }
  .searchnav {
    display: block;
    position: absolute;
    right: 95px;
    top: 32px;
    font-size: 22px;
  }
  /* CTA-Buttons */
  .cta {
    flex-direction: column;
    position: absolute;
    left: 20px;
    padding-left: 40px;
  }
  .cta-login,
  .cta-signup {
    padding: 5px;
    width: 90px;
    height: 30px;
    right: 10px;
    font-size: 1px;
  }
  .cta-login {
    right: 83%;
    margin-bottom: 0px;
  }
  .cta-signup {
    right: 68%;
  }
  /* slideshow */
  .slide {
    width: 870px;
    height: 440px;
  }
  .slide img,
  .top-producers img,
  .forum img {
    height: 100%;
    width: 100%;
  }
  /* Pictures */
  .top-producers,
  .forum {
    height: 440px;
  }
}


/* MOBILE */
@media only screen and (max-width: 550px) {
  .container{
  height: 100%;
  padding: 40px 30px;
  grid-template-columns: auto;
  grid-template-rows: 1fr 1.2fr 1.2fr 1.2fr;
  grid-template-areas:
    "main-home"
    "content1"
    "content2"
    "content3";
  }
  .logo img {
    left: 36%;
  }
  .searchnav {
    position: absolute;
    left: 6%;
  }
  .content1,
  .content2 {
    height: 100%;
  }
  h1,
  h2 {
    font-size: 25px;
    padding: 10px 5px;
  }
  .cta-login,
  .cta-signup {
    display: none;
  }
}


/* MOVIE LIST */
.container-movie-list {
  padding: 20px 40px 40px 40px;
}
.movie-list img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 7px;
}
.movie-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  background: #1a1a1a;
  color: #fff;
}
.movie-list h2 {
  font-size: 20px;
  display: flex;
  justify-content: flex-start;
  padding: 0;
}
.card-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}


/* SIGN UP PAGE */
.sign-up {
  height: 100vh;
  display: flex;
}
.header {
  font-size: 40px;
}
