/* BIG SCREEN */
* {
  margin: 0px;
  padding: 0px;
}
label:hover {
  cursor: pointer;
}
body {
  font-family: "Poppins", sans-serif;
  background: url("../images/camera1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  overflow-y: hidden;
  display: grid;
  grid-gap: 1em;
  grid-column: 1fr 1fr 1fr;
  grid-row: 0.2fr 1fr 1fr;
  grid-template-areas:
    "header header header"
    "main main aside"
    "main main aside"
    "main main aside"
    "content1 content2 content3";
}
header {
  display: flex;
  background-color: #292828;
  width: auto;
  height: 70px;
  padding: 10px;
  position: relative;
  align-items: center;
  grid-area: header;
}
/* Main & Aside */
main,
aside {
  background: rgb(36, 36, 36);
  padding: 1em 2em;
  color: white;
  border-radius: 5px;
}
main {
  grid-area: main;
  margin-left: 40px;
}
aside {
  grid-area: aside;
  margin-right: 40px;
}

/* Content 1,2,3 */
#content1,
#content2,
#content3 {
  margin-bottom: 10px;
  height: 250px;
  border-radius: 5px;
}
#content1 {
  grid-area: content1;
  margin-left: 40px;
  background: url("../images/aliens.jpg");
  background-size: cover;
}
#content2 {
  grid-area: content2;
  background: url("../images/man.jpg");
  background-size: cover;
}
#content3 {
  grid-area: content3;
  margin-right: 40px;
  background: url("../images/Forum.jpg");
  background-size: cover;
}

/* Logo */
.logo {
  width: 150px;
  height: 60px;
  float: left;
  left: 5px;
  position: relative;
  align-items: center;
  display: block;
  flex: 1;
  cursor: pointer;
  margin-left: 20px;
}

/* NAVIGATION */
#hamnav {
  width: 100%;
  margin: 10px 10px 10px 40px;
  flex: 2;
}
#hamitems {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  margin-right: 20px;
  padding: 15px;
}
#hamitems li {
  list-style: none;
  margin: 0 10px;
}
#hamitems a {
  color: white;
  font-weight: 400;
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 24px;
  text-align: center;
  padding: 10px;
}
#hamitems a:hover {
  background: orange;
  font-weight: 400;
  border-radius: 2px;
}
#hamburger,
#hamnav label {
  display: none;
}
/* Searchbar */
.search {
  flex: 1;
}
.search input {
  width: 270px;
  height: 26px;
  color: black;
  outline: none;
  border-radius: 4px;
  margin-left: 50px;
  float: right;
}
#searchnav {
  display: none;
  color: white;
  align-items: center;
}

/* CTA-Buttons */
.cta {
  display: flex;
  margin-right: 20px;
}
.cta-login,
.cta-signup {
  text-align: center;
  text-transform: uppercase;
  color: #7b0000;
  font-weight: bold;
  font-size: 18px;
  border: 1px solid #fcad15;
  background: #fcad15;
  width: 90px;
  height: 45px;
  margin: 10px;
  cursor: pointer;
  border-radius: 2px;
  padding: 5px;
}
.cta-login:hover,
.cta-signup:hover {
  background: #7b0000;
  color: #fcad15;
}
.cta-readmore {
  width: 110px;
  height: 40px;
  background: #fcad15;
  border: 1px solid #fcad15;
  border-radius: 2px;
  float: right;
  cursor: pointer;
  margin-top: 20px;
  padding: 5px;
}
.cta-readmore a {
  text-decoration: none;
  color: #7b0000;
  font-weight: bold;
  font-size: 18px;
}

/* TABLET SCREEN */
@media only screen and (max-width: 769px) {
  body {
    padding-bottom: 30px;
    height: auto;
    overflow-x: hidden;
    overflow-y: scroll;
    grid-template-columns: 1fr;
    grid-template-rows: 0.4fr 1fr;
    grid-template-areas:
      "header header"
      "main main"
      "content1 content1"
      "content2 content2";
  }
  #content1 {
    margin-right: 30px;
    margin-left: 40px;
  }
  #content2 {
    margin: 0px 30px 0px 40px;
    position: relative;
    top: -15px;
  }
  main {
    margin-top: 10px;
    margin-right: 30px;
  }
  aside,
  #content3 {
    display: none;
  }
  /* Logo */
  .logo {
    position: absolute;
    left: 45%;
    top: 15px;
    content: "";
    margin-left: -25px;
  }
  /* Hamburger-menu */
  #hamitems {
    position: relative;
    right: -45px;
    top: 127px;
    float: right;
  }
  #hamitems li {
    width: 100%;
    height: 50px;
    text-align: center;
    padding-top: 5px;
    display: flex;
  }
  #hamitems a {
    margin-top: -5px;
    right: 0px;
    background: #292828;
    width: 100%;
    font-size: 10px;
  }
  #hamnav label {
    display: inline-block;
    color: white;
    cursor: pointer;
  }
  #hamitems {
    display: none;
  }
  #hamnav input:checked ~ #hamitems {
    display: block;
  }
  .fa-bars {
    display: block;
    position: absolute;
    right: 30px;
    top: 35px;
    margin-right: 1px;
  }
  nav li {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  /* Searchbar */
  .search {
    display: none;
  }
  #searchnav {
    display: block;
    position: absolute;
    right: 12%;
    top: 30px;
  }
  /* CTA-Buttons */
  .cta {
    flex-direction: column;
    position: absolute;
    left: 20px;
  }
  .cta-login,
  .cta-signup {
    padding: 5px;
    width: 90px;
    height: 30px;
    right: 10px;
    font-size: 1px;
  }
  .cta-login {
    right: 83%;
    margin-bottom: 0px;
  }
  .cta-signup {
    right: 68%;
  }
}

/* MOBILE SCREEN */
@media only screen and (max-width: 426px) {
  body {
    padding: 0px 0px 20px 0px;
    height: auto;
    overflow-x: hidden;
    overflow-y: scroll;
    grid-template-columns: 1fr;
    grid-template-rows: 0.3fr 1fr;
    grid-template-areas:
      "header"
      "main"
      "content1"
      "content2";
  }
  .logo {
    position: absolute;
    left: 36%;
  }
  #searchnav {
    position: absolute;
    left: 6%;
  }
  main,
  #content1,
  #content2 {
    margin-right: 40px;
  }
  main {
    margin-top: 10px;
  }
  main h2 {
    font-size: 25px;
  }
  main p {
    font-size: 5px;
  }
  .cta-login,
  .cta-signup {
    display: none;
  }
  .cta-readmore {
    width: 100px;
    height: 70%;
  }
  .cta-readmore a {
    font-size: 10px;
  }
}
